BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
AllowShortFunctionsOnASingleLine: Inline
ColumnLimit: 100
BreakBeforeBraces: Allman
NamespaceIndentation: All
SortIncludes: true
IncludeBlocks: Merge
ReflowComments: true
PointerAlignment: Left
DerivePointerAlignment: false
AlwaysBreakTemplateDeclarations: Yes
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignAfterOpenBracket: Align
ConstructorInitializerIndentWidth: 2
IndentCaseLabels: true
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpacesInContainerLiterals: false
AllowShortIfStatementsOnASingleLine: false
KeepEmptyLinesAtTheStartOfBlocks: false
FixNamespaceComments: true
